.topo{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo1{
    width: 200px;
    margin-right: 20px;
}
.titulos{
    text-align: center;
    margin-bottom: 80px;
    font-size: 15px;
}
.texto-lateral{
    font-size: 30px;
}
.informacoesProva{
    font-size: 10px;
}
.alternativas{
    font-size: 25px;
}
.destaque{
    color: red;
}
h1, h2{
    font-weight: normal;
}
.centro{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}