.topo{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(250, 191, 191);
    border-color: black;
    border-style: solid;
}
.logo1{
    width: 200px;
    margin-right: 20px;
}
.titulos{
    text-align: center;
    margin-bottom: 80px;
    font-size: 15px;
}
.texto-lateral{
    font-size: 30px;
}
.informacoesProva{
    font-size: 10px;
}
.alternativas{
    font-size: 25px;
}
.destaque{
    color: red;
}
h1, h2{
    font-weight: normal;
}
.centro{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.questao1{
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(213, 214, 214);
    padding: 20px;
    margin-bottom: 5px;
}
.questao2{
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(213, 214, 214);
    padding: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.corrigir{
    width: 50px;
    height: 20px
}


